footer{
    background-color: #2D201B;
    width: 100%;
    height: 300px;
}
    .footer_wrap{
        margin: 0 auto;
        background-color: #2D201B;
        width: 97%;
        min-height: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 30px;
    }
        .footer_info{
            background-color: #2D201B;
            display: flex;
            align-items: start;
            gap: 20px;
            flex-direction: column;
            
        }

        .info_details{
            line-height: 1.8;
            padding: 0;
            line-height: 1.4;
            color: #8b8787;
            padding-top: 10px;
        }
        .info_ul{
            list-style: none;
            text-align: start;
            margin: 0;
            padding: 0;
            font-size: 15px;
            font-weight: 600;
            display: flex; 
        }
        .info_ul:nth-of-type(2) li:first-child::after{
            content:"|";
            margin: 0 20px;
        }
        .info_details h4{
            padding: 0;
            margin: 0;
            font-size: 15px;
            font-weight: 500;
        }




/* 후터 오른쪽 --------------------------------------------- */  
         .seoul_logo{
            margin-top: 100px;
        }    
           /* sns 로고 */
           .sns_logo{
            display: flex;
            justify-content: end;
            gap: 10px;
        }

            .sns_logo > li{
            list-style: none;
        }
        /* 호버 배경 사진 있는 애들
        페이스북, 네이버-------------------- */
        .sns_hover a{
            position: relative;
            display: inline-block;
            width: 36px;
            height: 36px;
        }

        .sns_hover .off,
        .sns_hover .on{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
        }

        .sns_hover .on{
            display: none;
        }

        .sns_hover:hover .on{
            display: block;
        }

        .sns_hover:hover .off{
            display: none;
        }






