footer{
    /* background-color: rgb(58, 50, 42); */
    background-color: #2D201B;
    width: 100%;
    height: 300px;
}
    .footer_wrap{
        margin: 0 auto;
        background-color: #2D201B;
        /* background-color: aqua; */
        width: 97%;
        min-height: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 30px;
    }
        .footer_info{
            background-color: #2D201B;
            /* background-color: gold; */
            display: flex;
            align-items: start;
            gap: 20px;
            flex-direction: column;
            
        }

        .info_details{
            line-height: 1.8;
            /* background-color: pink; */
            padding: 0;
            line-height: 1.4;
            color: #8b8787;
            padding-top: 10px;
        }
        .info_ul{
            list-style: none;
            text-align: start;
            margin: 0;
            padding: 0;
            font-size: 15px;
            font-weight: 600;
            display: flex; 
        }
        .info_ul:nth-of-type(2) li:first-child::after{
            content:"|";
            margin: 0 20px;
        }
        .info_details h4{
            padding: 0;
            margin: 0;
            font-size: 15px;
            font-weight: 500;
        }

        .sns_logo>li{
            list-style: none;
        }


/* 후터 오른쪽 --------------------------------------------- */  
        .sns_logo{
            display: flex;
            justify-content: end;
            gap: 10px;
        }
        .seoul_logo{
            margin-top: 100px;
        }