*{
    margin: 0; padding: 0; box-sizing: border-box;
}   
header {
        position: fixed;
        width: 100%;
        height: 87px;
        background-color: rgba(255, 255, 255, 0);
        padding: 0 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
    }
.menu {
        display: flex;
        gap: 3rem;
    }
 /* sec1 */
.sub1-1_sec1 {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 4, 255);
    position: relative;
    overflow: hidden;
}

.sec1_bg{
    width: 100%;
    height: 100%;
}

.sec1_bg img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

.sec1_textbox{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index:10;
    width: 50%;
    height: 200px;
    background-color:bisque;
}
.line{
    width: 2px;
    height: 5px;
    color: white;
}