.hero{
    height: 100vh;
    background-image: url(./src/img/s1_bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.container{
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;
}

.breadcrumb{
    color: white;
    margin-bottom: 20px;
    font-size: 17px;

}
.hero-title{
    font-size: 75px;
    font-weight: bold;
    color: white;
    padding-top: 14px ;
}

/* sec2 */

.festival-img{
    position:relative;
}
.festival-img img{
    width: 100%;
    display: block;
}
.left-btn{
    position:absolute;
    left: 50.8%;
    top: 73.5%;
    width:16.5%;
    height: 5.5%;
    border-radius: 18px;
    /* border: 2px solid black; */
    cursor: pointer;
    overflow: hidden;
    display: block;
    z-index: 10;
    background: transparent;
}
.left-btn::after{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 18px;
    opacity: 0;
    transition: opacity 0.18s ease;

    background: rbga(255, 255, 255, 0.04);
    backdrop-filter: brightness(1.18);
}
.left-btn:hover::after{
    opacity: 1;
}

.left-btn:active::after{
    opacity: 1;
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: brightness(1.28);
}

/* .left-btn:active::after{
    opacity: 1;
    background: white;
} */

